In [2]:
import pandas as pd, seaborn as sns, matplotlib.pyplot as plt, os

In [4]:
df1  = pd.read_csv('loans_201907.csv')

In [5]:
df1.head()

      cust_id orig_channel loan_disb_date       loan_type  loan_amt
0  3050320316       Branch      7/22/2019         Auto 2W     20000
1  4460786089      Website      7/22/2019         Auto 2W     26300
2  9916255653  Third Party      7/22/2019        Personal     22100
3  6823179049          App      7/22/2019  Small Business    378000
4  1491715065       Branch      7/22/2019         Auto 2W     85100

In [6]:
df2 = pd.read_csv('loans_201908.csv')

In [7]:
df2.head()

      cust_id orig_channel loan_disb_date       loan_type  loan_amt
0  1126066460     Campaign       8/1/2019         Auto 2W    102900
1  7744492196          App      8/23/2019         Auto 2W    105000
2  6616155874  Third Party      8/23/2019         Auto 2W     80900
3  2327711329       Branch      8/23/2019        Personal    105000
4  8712148531  Third Party      8/23/2019  Small Business    787500

In [8]:
df1

        cust_id orig_channel loan_disb_date       loan_type  loan_amt
0    3050320316       Branch      7/22/2019         Auto 2W     20000
1    4460786089      Website      7/22/2019         Auto 2W     26300
2    9916255653  Third Party      7/22/2019        Personal     22100
3    6823179049          App      7/22/2019  Small Business    378000
4    1491715065       Branch      7/22/2019         Auto 2W     85100
..          ...          ...            ...             ...       ...
689  7065784641          App      7/19/2019         Auto 2W     63000
690  9376678468       Branch      7/19/2019        Personal     32600
691  6424448686  Third Party      7/19/2019         Auto 2W     52500
692  3415786240  Third Party      7/19/2019        Personal     35700
693  9186903246     Campaign      7/19/2019        Personal    105000

[694 rows x 5 columns]

In [9]:
df1.groupby('loan_type').size()

loan_type
Auto 2W           413
Auto 4W           128
Education          20
Personal           89
Small Business     44
dtype: int64

In [10]:
df2.groupby('loan_type').size()

loan_type
Auto 2W           468
Auto 4W           136
Education          20
Payday              5
Personal           89
Small Business     45
dtype: int64

In [1]:
import glob
df_names = [i.replace('csv','') for i in glob.glob('loans*') ]
df_names

['loans_201907.',
 'loans_201908.',
 'loans_201909.',
 'loans_201910.',
 'loans_201911.',
 'loans_201912.']

In [ ]:
df_dic = {}
for i, j in zip(glob.glob('loans*'),df_names):
    df_dic[j] = pd.read_csv(i)