In [3]:
def raise_power(x,y):
    print(x**y)

In [4]:
raise_power(2,3)

8

In [7]:
[raise_power(i,2)for i in range(5)]

0
1
4
9
16

[None, None, None, None, None]

In [8]:
def raise_power(x,y):
    return(x**y)

In [9]:
[raise_power(i,4)for i in range(5)]

[0, 1, 16, 81, 256]

In [10]:
def add_ten(x):
    return(x+10)

In [11]:
add_ten(90)*2

200

In [13]:
x = 21
for i in range(2,x):
    if x%i==0:
        print(i,"Number is prime")
    else:
        print(i,"Number is not prime")

2 Number is not prime
3 Number is prime
4 Number is not prime
5 Number is not prime
6 Number is not prime
7 Number is prime
8 Number is not prime
9 Number is not prime
10 Number is not prime
11 Number is not prime
12 Number is not prime
13 Number is not prime
14 Number is not prime
15 Number is not prime
16 Number is not prime
17 Number is not prime
18 Number is not prime
19 Number is not prime
20 Number is not prime

In [24]:
def check_prime(x):
    for i in range(2,x):
        if x%i==0:
            print("Number is not prime")
            break
    else:
        print("Number is  prime")

In [25]:
check_prime(100)

Number is not prime

In [26]:
check_prime(111)

Number is not prime

In [27]:
def check_power(x):
    for i in range(2,x):
        if x%i==0:
            return 0 
            break
    else:
        return 1

In [28]:
check_power(8)

0

In [29]:
sum([check_power(i)for i in range(1,101)])

26

In [35]:
[(i,check_power(i)) for i in range(1,100) if check_power(i) ==1]

[(1, 1),
 (2, 1),
 (3, 1),
 (5, 1),
 (7, 1),
 (11, 1),
 (13, 1),
 (17, 1),
 (19, 1),
 (23, 1),
 (29, 1),
 (31, 1),
 (37, 1),
 (41, 1),
 (43, 1),
 (47, 1),
 (53, 1),
 (59, 1),
 (61, 1),
 (67, 1),
 (71, 1),
 (73, 1),
 (79, 1),
 (83, 1),
 (89, 1),
 (97, 1)]

In [33]:
[i for i in range(1,101)if check_power(i)=]

[1,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [5]:
[i for i in range(10) if i%2==0]
import random

In [6]:
ls =[random.randint(-50,50)for i in range(10)]

In [7]:
ls

[43, -38, 48, 20, -30, -7, 6, 12, 50, -29]

In [8]:
sscores = [random.sample(range(40,100),5)for i in range(5)]

In [9]:
sscores

[[68, 61, 57, 56, 90],
 [53, 46, 50, 70, 44],
 [79, 48, 85, 57, 95],
 [59, 79, 96, 81, 74],
 [55, 78, 71, 69, 82]]

In [10]:
names = ['Prasanth','pandu','chinna','arjun simha rayudu','asr','hindu','adinarayana','kumarii','prabhu','mani','yYEHOVA']

In [11]:
zip(sscores,names)

In [14]:
marks = dict(zip(names,sscores))
marks

{'Prasanth': [68, 61, 57, 56, 90],
 'pandu': [53, 46, 50, 70, 44],
 'chinna': [79, 48, 85, 57, 95],
 'arjun simha rayudu': [59, 79, 96, 81, 74],
 'asr': [55, 78, 71, 69, 82]}

In [15]:
import pandas as pd

In [16]:
pd.DataFrame(marks)

   Prasanth  pandu  chinna  arjun simha rayudu  asr
0        68     53      79                  59   55
1        61     46      48                  79   78
2        57     50      85                  96   71
3        56     70      57                  81   69
4        90     44      95                  74   82

In [17]:
pd.DataFrame(sscores)

    0   1   2   3   4
0  68  61  57  56  90
1  53  46  50  70  44
2  79  48  85  57  95
3  59  79  96  81  74
4  55  78  71  69  82

In [18]:
import os

In [19]:
os.getcwd()

'C:\\Users\\PRASANTH'

In [21]:
os.listdir()

['.conda',
 '.continuum',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '3D Objects',
 'anaconda',
 'anaconda3',
 'ansel',
 'AppData',
 'Application Data',
 'bank_data (1).csv',
 'bank_data.csv',
 'bank_data_clean.xlsx',
 'boxplot in seaborn.ipynb',
 'Contacts',
 'Cookies',
 'creating a new file by using open function.ipynb',
 'csv_datafile.csv',
 'data analysis starting in jupiter notebook.ipynb',
 'Desktop',
 'Documents',
 'Downloads',
 'elshadai.txt',
 'Favorites',
 'file.txt',
 'file7.txt',
 'hrdata.csv',
 'hrdata.xlsx',
 'import matplotliib.pyplotlib.ipynb',
 'IntelGraphicsProfiles',
 'isnull and dropna introduction to data analysis.ipynb',
 'kjnjnj.ipynb',
 'Lecture 01 (1).ipynb',
 'Lecture 01 Code PDF (1).pdf',
 'Lecture 02 (2).ipynb',
 'Lecture 02 PDF.pdf',
 'Lecture 02 Whiteboard Notes.pdf',
 'Lecture 03 (1).ipynb',
 'Lecture 03 Code PDF (1).pdf',
 'Lecture 03 Whiteboard Notes.pdf',
 'Lecture 04 Code PDF.pdf',
 'Lecture 04.ipynb',
 'Lecture 10.ipynb',
 'Lecture 10.pdf',
 'Links',
 'loans_201907.csv',
 'loans_201908.csv',
 'loans_201909.csv',
 'loans_201910.csv',
 'loans_201911.csv',
 'loans_201912.csv',
 'loc index using practice.ipynb',
 'Local Settings',
 'Module 02 Data Analysis with Python.pdf',
 'Module 02 Lecture 01 to 04 topics.txt',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf',
 'NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'python 1 notes.ipynb',
 'Recent',
 'Sales Data.xlsx',
 'Saved Games',
 'seaborn as sns import  files and practice.ipynb',
 'seaborn-data',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'text_data_comma.txt',
 'text_data_tab.txt',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'Untitled15.ipynb',
 'Untitled16.ipynb',
 'Untitled17.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos']

In [23]:
pd.read_csv('properties.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'properties.csv'

In [29]:
properties=pd.read_csv("bank_data.csv",sep=';')

In [30]:
properties.shape

(4521, 17)

In [32]:
properties.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [33]:
len(properties.columns)

17

In [34]:
type(properties.shape)

tuple

In [35]:
properties.index

RangeIndex(start=0, stop=4521, step=1)

In [36]:
properties.values

array([[30, 'unemployed', 'married', ..., 0, 'unknown', 'no'],
       [33, 'services', 'married', ..., 4, 'failure', 'no'],
       [35, 'management', 'single', ..., 1, 'failure', 'no'],
       ...,
       [57, 'technician', 'married', ..., 0, 'unknown', 'no'],
       [28, 'blue-collar', 'married', ..., 3, 'other', 'no'],
       [44, 'entrepreneur', 'single', ..., 7, 'other', 'no']],
      dtype=object)

In [37]:
properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [38]:
properties.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [39]:
properties.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [40]:
properties.median()

C:\Users\PRASANTH\AppData\Local\Temp/ipykernel_24760/1320037934.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  properties.median()

age          39.0
balance     444.0
day          16.0
duration    185.0
campaign      2.0
pdays        -1.0
previous      0.0
dtype: float64

In [41]:
properties['age']>30

0       False
1        True
2        True
3       False
4        True
        ...
4516     True
4517     True
4518     True
4519    False
4520     True
Name: age, Length: 4521, dtype: bool

In [42]:
type(properties['age']>30)

pandas.core.series.Series

In [43]:
sum(properties['age']>30)

3889

In [44]:
properties[properties['age']>30].shape

(3889, 17)

In [45]:
import numpy as np

In [46]:
a = np.array([10,20,30,40])

In [47]:
a

array([10, 20, 30, 40])

In [48]:
a.shape

(4,)

In [50]:
a.size

4

In [51]:
a.dtype

dtype('int32')

In [52]:
b = np.arange(10,100)

In [54]:
b

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
       61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,
       78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94,
       95, 96, 97, 98, 99])

In [55]:
b.shape

(90,)

In [60]:
b = b.reshape(9,10)
b

array([[10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [61]:
temp = np.arange(1,49)

In [62]:
temp

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48])

In [63]:
c = temp.reshape(2,3,8)

In [64]:
c

array([[[ 1,  2,  3,  4,  5,  6,  7,  8],
        [ 9, 10, 11, 12, 13, 14, 15, 16],
        [17, 18, 19, 20, 21, 22, 23, 24]],

       [[25, 26, 27, 28, 29, 30, 31, 32],
        [33, 34, 35, 36, 37, 38, 39, 40],
        [41, 42, 43, 44, 45, 46, 47, 48]]])

In [66]:
c.ndim

3

In [67]:
c.shape

(2, 3, 8)